<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
	<title>CMS</title>
</head>
<header>
	<% unless @index %>
		<a href="/">Home</a>
	<% end %>
</header>
<body>

	<% if session[:error] %>
	<div>
		<p class="flash error"><%= session.delete(:error) %></p>
	</div>
	<% end %>

	<% if session[:success] %>
	<div>
		<p class="flash success"><%= session.delete(:success) %></p>
	</div>
	<% end %>	
		
	<%= yield %>
</body>
</html>