body {
	font-family: sans-serif;
	padding: 15px 25px 15px 25px;
	font-size: 18px;
}

.flash {
	padding: 12px 10px 12px 10px;
}

.success {
	background-color: #FFFF99;
}

.error {
	background-color: #FF838F;
}

.button {
	display: inline-block;
}

.plain_text {
	overflow: auto;
}

.btn {
	margin: 1px;
}

#image_select_form {
	display: none;
}

.thumbnail {
	height: 75px;
}